@import 'variables';

// variables
$size: 256px;

// computed variables

.workspace-canvas {
  width: $size;
  height: $size;
  margin: auto;
}

.workspace {
  display: flex;

  canvas {
    width: 100%;
    height: 100%;
    background: blue;
  }
}
