@import '../../variables.scss';

* {
  margin: 0;
}

html, body {
  height: 100%;
}

// html {}

body {
  font-family: sans-serif;
}

.app {
  $padding: 8px;
  display: flex;
  height: calc(100% - (#{$padding} * 2));
  padding: $padding;
  color: $mono;
  background: $mono-1;

  > * {
    flex: 1;
  }
}

// Modifiers are imported at the end of the stylesheet to keep precedence
@import 'modifiers';
